.book-section{
    margin: 2rem 3.5rem;

  h1{
    font-size: 3.2rem;
    font-weight: 500;
    padding: 12px 0px;
    border-bottom: 2px solid #000;
    margin-bottom: 2.8rem;
  }
  ol{
    padding-left: 0;
    margin-bottom: 2rem;
  }
  ol > li {
    line-height: 3.8rem;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
  }
  ol > li:hover {
    background-color: #EFEFEF;
  }
  ol > li > .txtContainer {
    width: 100%;
  }

  ol > li > .btnContainer {
    width: fit-content;
    right: 0px;
    display: none;
    flex-direction: row;
    align-items: center;
  }
  ol > li:hover > .btnContainer {
    display: flex;
  }
  ol > li > .btnContainer > * {
    width: 50px;
    height: 50px;
    padding: 0px 10px;
  }
  ol > li > .btnContainer > .btnEdit {
    color: orange;
  }
  ol > li > .btnContainer > .btnDelete {
    color: red;
  }
  .addItmContainer {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
  }
  .addItmContainer > .btnAdd {
    width: 30px;
    height: 40px;
    margin-left: 0;
    margin-right:0.2em;
    color: #2e2ee7;
  }
}