@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;600;700&display=swap");
@import 'bootstrap/dist/css/bootstrap.min.css';

@import '../components/Welcome';

* {
  margin: 0;
  padding: 0;
}
.row > * {
  padding-left: 0px;
  padding-right: 0px;
}

body {
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

